<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Criar Post</title>
   <link rel="stylesheet" href="/css/newPost.css">
</head>
<body>
   <%- include('templates/header') %>

   <form action="/posts" method="post">
      <h1>Criar Postagem</h1>
      <input type="text" name="title" placeholder="Título" required>
      <textarea name="content" placeholder="Conteúdo" required></textarea>
      <button type="submit">Publicar</button>
   </form>
</body>
</html>