<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Criar Post</title>
   <style>
      * {
         box-sizing: border-box;
         margin: 0;
         padding: 0;
      }

      body {
         font-family: Arial, sans-serif;
         background-color: #f0f0f0;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         height: 100vh;
         margin: 0;
      }

      h1 {
         color: #333;
         margin-bottom: 10px;
      }

      form {
         background-color: #fff;
         padding: 50px 30px;
         border-radius: 5px;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         width: 80%;
         text-align: center;
         display: flex;
         flex-direction: column;
         gap: 20px;
      }

      input, textarea {
         width: 100%;
         padding: 10px;
         border: 1px solid #ccc;
         border-radius: 5px;
      }

      textarea {
         height: 150px;
      }

      button {
         background-color: #007BFF;
         color: #fff;
         padding: 10px;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         width: 100%;
      }

      button:hover {
         background-color: #0056b3;
      }

      p {
         color: red;
      }
   </style>
</head>
<body>
   <form action="/posts" method="post">
      <h1>Criar Postagem</h1>
      <input type="text" name="title" placeholder="Título" required>
      <textarea name="content" placeholder="Conteúdo" required></textarea>
      <button type="submit">Publicar</button>
   </form>
</body>
</html>