<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagem</title>
    <link rel="stylesheet" href="css/home.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #333;
            text-align: center;
        }

        h2 {
            color: #007BFF;
            font-size: 24px;
            margin-top: 20px;
            text-align: center;
        }

        p {
            color: #555;
            font-size: 16px;
            line-height: 1.5;
        }

        .post {
            background-color: #fff;
            padding: 20px;
            margin: 20px 0;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <h1>Postagem <%= post.id %> </h1>

<div class="post">
	<h2><%= post.title %></h1>
	<p><%= post.content %></p>
</div>
</body>
</html>